{% extends 'base.html' %}

{% block content %}

<h1 class="bd-title" style="text-align:center">Products</h1>
<br>
<ul>
    <div class="row">
        {% for product in products %}
        {% if product.id <= 2 %}

        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="{{ product.image_url }}" class="card-img" alt="" width="250px" height="350px">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.price }}</p>
                            <p class="card-text"><small class="text-muted">Stock {{ product.stock }}</small></p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        {% for product in products %}
        {% if product.id > 2 %}

        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img src="{{ product.image_url }}" class="card-img" alt="" width="250px" height="350px">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.price }}</p>
                            <p class="card-text"><small class="text-muted">Stock {{ product.stock }}</small></p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>
    </div>
</ul>
{% endblock %}